# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.env/
.venv/

# Ignore IDE files
.vscode/
.idea

# Ignore environment files
.env
*.env

# Ignore Alembic files (if applicable)


# Ignore other useless files
*.log
logs/
*.db
*.sqlite3

versions/__pycache__
